<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width= , initial-scale=1.0">
  <title><%= title%> | User Auth</title>
</head>
<body>
   <h1>Welcome <%= title%> ❤</h1>

 <ol>
  <% User.forEach((user) => { %>
      <li> <%= user.username%> | <%= user.password%></li>
    <% }) %>
 </ol>

   <%= JSON.stringify(User)%>
   <a href="/signout">signout</a>
</body>
</html>